
@{
    ViewBag.Title = "FormDataInput";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using DinamikFormYonetimi.Models;
@model Form

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Form Veri Girişi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Form Veri Girişi</h2>
        <form class="form-horizontal" action="/action_page.php">
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Form Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="email" name="email" disabled value="@Model.name">

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Açıklama:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="pwd" name="pwd" disabled value="@Model.description">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Tarih:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="pwd" name="pwd" disabled value="@Model.createdAt">
                </div>
            </div>

            @{

                foreach (Field frm in ViewBag.fieldList)
                {
                    if (frm.dataType == "String")
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">@frm.name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="pwd" name="pwd">
                            </div>
                        </div>
                    }
                    else 
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">@frm.name</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="pwd" name="pwd">
                            </div>
                        </div>
                    }

                }
            }

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>

</body>
</html>

